.users {
    align-items: center;
    position: relative;
    width: 50%;
    top: 10%;
    left: 25%;
    background-color: white;
    border-radius: 1%;
}

.search {
    padding: 10px;
    font-size: 20px;
}

.list {
    padding: 0;
    list-style: none;
    text-align: center;
}

.listItem {
    margin-bottom: 20px;
    font-size: 25px;
    background-color: aliceblue;
    color: #444;
    font-weight: 300;
    border-radius: 0;
}