:root {
  background-color: azure;
}

.loadboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
  padding-top: 10em;
  margin-top: -20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2em;
}
th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: lightskyblue;
}
td {
  background-color: azure;
}

h2 {
  margin-top: -10px;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}

input {
  width: 205px;
  margin-left: 10px;
}
