li a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #fdd023;
}
.navbar-logo {
	display: flex;
	align-items: center;
}
.navbar-logo img {
	width: 200px;
	height: 100px;
	border-radius: 20%;
	vertical-align: middle;
	margin-right: 10px;
}
.logoName {
	height: 100px;
}
.navbar-menu {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
	font-size: 36px;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #461d7c;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0;
	left: 0;
	right: 0;
}

.userPic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 10px;
	vertical-align: middle;
}
.navbar ul li {
	text-decoration-line: none; /* Remove underline */
}

.profile {
	display: flex;
	align-items: center;
}
